@use 'sass:color';

// Colors
$black: #1E1E1E;
$error: #FF3535;
$gray-100: #E7EFF2;
$gray-300: #DBDAE4;
$gray-700: #575561;
$warning: #FF3535;
$white: #DDD;

// Default lightness deltas
$lightness-300: 25%;
$lightness-700: 25%;

// Brand colors
$primary-300: #C9A7FF;
$primary-500: #721BFF;
$primary-700: #3F2689;
$secondary-300: #C3FAFA;
$secondary-500: #54E8E8;
$secondary-700: #267676;

// Entities colors
$opportunities-500: #CE3683;
$events-500: #0077B2;
$agents-500: #9756D8;
$projects-500: #EF7B45;
$spaces-500: #498200;

$seals-500: #1E1E1E;

// Feedback colors
$danger-300: #FF9C9C;
$danger-500: #FF3535;
$danger-700: #9A2121;
$warning-300: #FF9C9C;
$warning-500: #FF3535;
$warning-700: #9A2121;
$success-300: #94EE92;
$success-500: #309E2D;
$success-700: #2A6129;
$helper-300: #94EE92;
$helper-500: #309E2D;
$helper-700: #2A6129;

// // Neutral colors
$high-300: #FFFFFF;
$high-500: #E7EFF2;
$high-700: #DBDAE4;
$low-300: #575561;
$low-500: #1F1F22;
$low-700: #000000;

// // FONTS
// $font-body: 'Open Sans', sans-serif;
// $font-headings: 'Open Sans', sans-serif;

// // Borders radius
$border-radius-xs: 0.25rem;
$border-radius-sm: 0.5rem;
$border-radius-pill: 1rem;

// // Borders
// $border-hairline: 1px solid;
// $border-solid: 2px solid;

// // Shadows
// $shadow-lv-1: 0px 4px 8px rgba(0, 0, 0, 0.16);
// $shadow-lv-2: 0px 8px 16px rgba(0, 0, 0, 0.16);
// $shadow-lv-3: 0px 8px 24px rgba(0, 0, 0, 0.16);
// $shadow-lv-4: 0px 16px 48px rgba(0, 0, 0, 0.16);
// $shadow-lv-1-up: 0px -4px 8px rgba(0, 0, 0, 0.16);

@import '../../../BaseV2/assets-src/sass/theme-BaseV2';

// SOM-specific variables
$som-border-radius-panel: 2rem;

@import '0.settings/mixins';
@import '0.settings/typography';
@import '0.settings/global';

@import 'components/button';
@import 'components/card';
@import 'components/form';
@import 'components/tab';
@import 'components/tag-list';

@import 'layouts/main-header';

@import 'pages/panel';
@import 'pages/search';
@import 'pages/single-entity';
