.entity-profile {

    &__profile {
        
        &--label::before {
            display: none;
        }
    }

    &.error {

        .entity-profile__profile--img {
            border: size(2) solid var(--mc-error);
        }

        .field__error {
            text-align: center;
        }
    }
}
