.form {

    .input, .order {
        background-color: var(--mc-white);
        border: none !important;
        @include som-down-shadow(4);
    }

    .input + .button--icon {
        box-shadow: none;
    }
}

.field, .entity-tabs {

    input {
        accent-color: var(--mc-primary-500);
    }

    input:not([type=checkbox], [type=radio]), textarea, select {
        @extend %som-input;
    }

    input[type=radio] {
        @extend %som-radio;
    }

    &__checkbox {
        grid-template-columns: size(32) 1fr;
    }

    &__radio {
        grid-template-columns: size(20) 1fr;
    }

    &__error {
        padding-top: size(8);
    }

    &__length {
        padding-inline: size(8);
    }
}

.mc-select {
    background-color: var(--mc-white);

    &__selected-option, &__options {
        @extend %som-input;
    }
}

.field.error {

    input:not([type=checkbox], [type=radio]), textarea, select, .mc-select__selected-option {
        border: size(2) solid var(--mc-error);
    }
}

.field, .entity-tabs, .mc-multiselect__option {

    input[type=checkbox] {
        @extend %som-checkbox;
    }
}

.input__checkboxLabel {

    input[type=checkbox] {
        border: none !important;
        border-radius: size(20) !important;
        height: size(20) !important;
        width: size(32) !important;
    }
}

.verified {

    &::after {
        @include som-icon-shadow(var(--mc-success-500));
    }
}
