.field, .entity-tabs {

    input {
        accent-color: var(--mc-primary-500);
    }

    input:not([type=checkbox], [type=radio]), textarea, select {
        background-color: var(--mc-white);
        border: none;
        @include som-down-shadow(4);
    }

    input[type=checkbox] {
        appearance: none;
        background-color: var(--mc-primary-white);
        border: none;
        border-radius: size(20);
        box-shadow: inset 0 size(3) size(6) 0 rgba(black, 0.25);
        height: size(20);
        position: relative;
        width: size(32);

        &::before {
            background-color: white;
            border-radius: 50%;
            content: '';
            height: size(14);
            left: size(3);
            position: absolute;
            top: size(3);
            width: size(14);
            transition: all 0.3s ease-in-out;
        }

        &:checked {
            background-color: var(--mc-primary-500);

            &::before {
                left: unset;
                right: size(2);
            }
        }
    }

    input[type=radio] {
        appearance: none;
        border: none;
        border-radius: 50%;
        box-shadow: inset 0 size(2) size(4) 0 rgba(black, 0.25);
        height: size(20);
        position: relative;
        width: size(20);

        &:checked {

            &::before {
                background-color: var(--mc-primary-500);
                border-radius: 50%;
                box-shadow: 0 size(2) size(2) 0 rgba(black, 0.25);
                content: '';
                height: size(12);
                left: size(4);
                position: absolute;
                top: size(4);
                width: size(12);
            }
        }
    }

    &__checkbox {
        grid-template-columns: size(32) 1fr;
    }

    &__radio {
        grid-template-columns: size(20) 1fr;
    }

    &__error {
        padding-top: size(8);
    }

    &__length {
        padding-inline: size(8);
    }
}

.input__checkboxLabel {

    input[type=checkbox] {
        border: none !important;
        border-radius: size(20) !important;
        height: size(20) !important;
        width: size(32) !important;
    }

}

.mc-select {
    background-color: var(--mc-white);

    &__selected-option, &__options {
        background-color: var(--mc-white);
        border: none;
        @include som-down-shadow(4);
    }
}

.entity-table__search-input {
    background-color: var(--mc-white);
    border: none;
    @include som-down-shadow(4);
}

.verified {

    &::after {
        @include som-icon-shadow(var(--mc-success-500));
    }
}
