.tabs-component {

    &__panels {
        background-color: var(--mc-white);
    }

    &__button {

        &--active {

            a {
                color: var(--mc-primary-500) !important;

                span {
                    color: inherit !important;
                }

                .iconify {
                    color: inherit !important;
                }
            }

            &::after {
                background-color: var(--mc-primary-500) !important;
            }
        }
    }
}
