body {
    background-color: var(--mc-primary-500) !important;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.messages + * {
    background-color: var(--mc-white);
    border-radius: $som-border-radius-panel;
    margin: size(32) auto !important;
    max-width: size(1200);
}

.mc-breadcrumb {
    display: none;
}
