@font-face {
    font-display: swap;
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/custom-fonts/MuseoModerno-Bold.woff') format('woff'),
         url('/assets/custom-fonts/MuseoModerno-Bold.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'MuseoModerno';
    font-style: italic;
    font-weight: bold;
    src: url('/assets/custom-fonts/MuseoModerno-BoldItalic.woff') format('woff'),
         url('/assets/custom-fonts/MuseoModerno-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/custom-fonts/Onest-Medium.woff') format('woff'),
         url('/assets/custom-fonts/Onest-Medium.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/custom-fonts/Onest-SemiBold.woff') format('woff'),
         url('/assets/custom-fonts/Onest-SemiBold.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Onest';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/custom-fonts/Onest-Bold.woff') format('woff'),
         url('/assets/custom-fonts/Onest-Bold.ttf') format('truetype');
}
