.main-header {

    &__content {
        justify-content: start;
        max-width: size(1232);
    }

    .mc-header-logo {
        width: auto;
    }

    .mc-header-menu {
        flex: 1;
    }

    .mc-header-menu--item {

        .icon {
            display: none;
        }

        .label {
            font-weight: normal;
            margin-top: 0;
        }

        &:hover {

            .label {
                color: var(--mc-primary-500) !important;
            }
        }
    }

    .theme-logo.onlyImg {

        .theme-logo__logo--img {

            img {
                height: size(24);
            }
        }
    }
}

// Define comportamento dos itens do menu de entidades (em todo o sistema)
.action {
    &-index {
        .mc-header-menu--item.home{
            .icon {
                background-color: var(--mc-primary-500);
            }
            .label {
                color: var(--mc-primary-500);
                font-weight: bold;
            }
        }
    }

    &-projects {
        .mc-header-menu--item.project {
            .icon {
                background-color: var(--mc-primary-500);
            }
            .label {
                color: var(--mc-primary-500);
                font-weight: bold;
            }
        }
    }

    &-spaces {
        .mc-header-menu--item.space {
            .icon {
                background-color: var(--mc-primary-500);
            }
            .label {
                color: var(--mc-primary-500);
                font-weight: bold;
            }
        }
    }

    &-events {
        .mc-header-menu--item.event {
            .icon {
                background-color: var(--mc-primary-500);
            }
            .label {
                color: var(--mc-primary-500);
                font-weight: bold;
            }
        }
    }

    &-agents {
        .mc-header-menu--item.agent {
            .icon {
                background-color: var(--mc-primary-500);
            }
            .label {
                color: var(--mc-primary-500);
                font-weight: bold;
            }
        }
    }

    &-opportunities {
        .mc-header-menu--item.opportunity {
            .icon {
                background-color: var(--mc-primary-500);
            }
            .label {
                color: var(--mc-primary-500);
                font-weight: bold;
            }
        }
    }
}