.search {

    &__header {
        background-color: var(--mc-white);
        border-top-left-radius: $som-border-radius-panel;
        border-top-right-radius: $som-border-radius-panel;
    }

    & > .tabs-component {

        .tabs-component__panels {
            background-color: var(--mc-white);
            border-bottom-left-radius: $som-border-radius-panel;
            border-bottom-right-radius: $som-border-radius-panel;

            .entity-card {
                @include som-up-shadow(10);
            }
        }
    }
}

.search-filter {

    &__filter {
        background-color: var(--mc-white);
        border-radius: size(16);
        @include som-up-shadow(10);
    }
}