.search {

    &__header {
        background-color: var(--mc-white);
        border-top-left-radius: $som-border-radius-panel;
        border-top-right-radius: $som-border-radius-panel;
    }

    & > .tabs-component {

        .tabs-component__panels {
            background-color: var(--mc-white);
            border-bottom-left-radius: $som-border-radius-panel;
            border-bottom-right-radius: $som-border-radius-panel;

            .entity-card {
                @include som-up-shadow(10);
            }
        }
    }
}

.search-filter {

    &__filter {
        background-color: var(--mc-white);
        border-radius: size(16);
        @include som-up-shadow(10);

        &--close {
            box-shadow: none !important;
        }
    }

    &__actions-form {
        position: relative;

        input, .button--icon {
            padding: size(12) size(16);
        }

        input {
            @extend %som-input;
            border-radius: var(--mc-border-radius-pill);
        }

        .button--icon {
            background-color: transparent;
            border: none;
            position: absolute;
            inset-inline-end: 0;
        }
    }
}
