.entity-header__single--content {

    .share {

        .button {
            color: var(--mc-primary-500);

            .iconify {
                font-size: size(20);
            }
        }
    }
}

.entity-social-media__links--link {
    color: var(--mc-primary-500);
}