.main-app.single-1, .main-app.single-2 {

    & > .tabs-component {
        background-color: var(--mc-white);
        border-bottom-left-radius: $som-border-radius-panel;
        border-bottom-right-radius: $som-border-radius-panel;
    }
}

.layout-entity {

    .mc-map {
        margin-top: size(16);
    }

    .tabs-component__header {
        background-color: var(--mc-white);
    }
}

.entity-actions {
    background-color: var(--mc-primary-500);
    box-shadow: var(--mc-shadow-lv1-up);
}

.entity-header {
    border-top-left-radius: $som-border-radius-panel;
    border-top-right-radius: $som-border-radius-panel;

    &__single {

        &--cover {
            border-top-left-radius: $som-border-radius-panel;
            border-top-right-radius: $som-border-radius-panel;
            max-width: size(1200);
        }

        &--content {

            .share .button {
                color: var(--mc-primary-500);

                .iconify {
                    font-size: size(20);
                }
            }
        }
    }
}

.entity-social-media__links--link {
    color: var(--mc-primary-500);
}
